/*ESTILOS GENERALES
        Contiene todos los estilos que se utilizarán en todas las páginasdjyd
        d este proyecto. esto constará de:
                -Limpieza de todas las medidas
                -Body generales
                -Nav
                Footer

                Se utiliza la Paleta 7
                */







/*LIMPIEZA DEL HTML
        Poner todos los valores de margin, border y padding en 0                */
*{
	margin: 0 auto;
	border: 0;
	padding: 0
}

/*BODY
        Establecer:
                -Color de fondo
                -Fuente
                -Tamaño de fuente*/
body{
	background: #F2F2F2;
	font-family: Verdana;
	font-size: 14px;
}




/**********
	NAV
	En esta zona se mostraá el estado en el que se encuentra
	la sesión del usuario, así como su imagen de perfil y opciones
	y configuraciones.
	Además contará con el nombre de la página.
**********/

		/*NAV
			Estilos generales del nav*/
        nav{
        	background: #143F7D;
			display: flex;
        }

		/*#Logo
			Div que contiene al logo de PublicDom*/
		#Logo{
			flex-grow: 6;
			padding: 10px 0 10px 20px;
		}

		/*#Logo img
			Se encarga de los atributos de la imagen
			del logo de PublicDom*/
		#Logo img{
			width: 200px;
		}

		/*nav ul
			Contiene todos los estilos de la lista ul, sin tomar en cuenta los elementos internos*/

		nav ul{
			flex-grow: 1;
			list-style: none;
			padding: 19px 0 10px 20px;
		}

		/*nav li
			Contiene los estilos generales de los puntos
			de la lista li, sin tomar en cuenta los elementos
			internos*/
		nav li{
			display: inline;
			padding: 0 16px;
		}

		/*nav li a
			Solo los estilos de los a dentro de los li.
			no toma en cuenta lo demás*/
		nav li a{
			color: #f8f8f8;
			-webkit-transition:all 0.2s ease;
        	-moz-transition:all 0.2s ease;
        	-o-transition:all 0.2s ease;
        	-ms-transition:all 0.2s ease;
			text-decoration: none;
        	transition:all 0.2s ease;
		}

		/*nav ul li a:hover
			Efecto de barras en movimiento de las
			opciones de conexion en los li*/
		nav ul li a:hover{
		   border-bottom:2px solid #f8f8f8;
		   border-top:2px solid #f8f8f8;
		   color:#f8f8f8;
		   padding-bottom:12px;
		   padding-top:12px;
	   }





		/***************************
			PUBLICIDAD - ARRIBA
			Zona en la que los negocios tendrán una pequeña aparición,
			en base a la calificación y popularidad de estos.
		***************************/
		#Publicidad{
			background-color: #DDD;
			border-radius: 5px;
			height: 50px;
			margin: 10px 10px 10px 10px;
		}

		#Publicidad h2{
			text-align: center;
			padding-top: 10px;
		}





	/******************
		   ESTILOS DE ELEMENTOS GENERALES
	******************/


	.Boton{
		background-color: #4A6FA5;
		box-shadow: 0px 0px 30px rgba(0,0,0,0.2);
		border-radius: 10px;
		display: inline-block;
		padding: 10px 5px;
		position: relative;
		width: 150px;
	}

	.Boton a{
		color: #F2F2F2;
		margin: 5px 0 0 25px;
		padding: 5px 5px 15px 5px;
		text-decoration: none;
		text-align: center;
	}


	.Boton:hover{
		background-color: #4F6D7A;
	}

	.boton{
		color:#F2F2F2;
		background-color: #4A6FA5;
		border-radius: 5px;
		display: inline-block;
		padding: 8px;
	}

	.boton a{
		color: #F2F2F2;
		text-decoration: none;
	}






/******************
   FOOTER
******************/
footer{
	background-color: #1F262B;
	display: flex;
	padding: 15px 0;
}



#FooIzq{
	display: flex;
	flex-grow: 1;
}

#FooIzq img{
	height: 100px;
}

#FooCent{
	flex-grow: 3;
}

#FooCent ul{
	list-style: none;
	padding: 3% 0 0 3%;
	text-align: center;
}

#FooCent li a{
	color: #F2F2F2;;
	text-decoration: none;
}

#FooDer{
	flex-grow: 1;
}

#FooDer img{
	height: 100px;
}







/*********************************
			QUERIES
*********************************/

/* Large desktop */
@media (min-width: 1200px) {

}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
	#FooIzq img, #FooDer img{
		height: 80px;
	}
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	#FooIzq img, #FooDer img{
		height: 80px;
	}
}

/* Landscape phones and down */
@media (max-width: 480px) {

	body{
		font-size: 12px;
	}

	/******************
			NAV
	*******************/

	#Logo img{
		width: 150px;
	}

	/******************
			FOOTER
	*******************/
	#footer{
		font-size: 12px;
	}
	#FooIzq img, #FooDer img{
		height: 50px;
	}
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {

}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) { }

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) { }

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) { }

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) { }

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) { }

/* Large screens ----------- */
@media only screen and (min-width : 1824px) { }

/* iPhone 4 and high pixel ratio devices ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) { }
