


/**************************
	OCULTAR - REGISTRO
**************************/
#contenedor, #ventaIni{
	content: " ";
	display: none;
	height: 100%;
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	background: -moz-radial-gradient(center, ellipse cover, rgba(127,127,127,0) 0%, rgba(127,127,127,0.9) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(127,127,127,0)), color-stop(100%,rgba(127,127,127,0.9)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(127,127,127,0) 0%,rgba(127,127,127,0.9) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(127,127,127,0) 0%,rgba(127,127,127,0.9) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(127,127,127,0) 0%,rgba(127,127,127,0.9) 100%);
	background: radial-gradient(center, ellipse cover, rgba(127,127,127,0) 0%,rgba(127,127,127,0.9) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007f7f7f', endColorstr='#e67f7f7f',GradientType=1 );
	z-index: 99;
}


.close{
	margin: 1em auto;
	display: block;
	position: relative;
	left: 14.5em;
	top:-20px;
	padding: 5px;
	border-radius: 3px;
	-webkit-transition: 0.2s linear;
	-moz-transition: 0.2s linear;
	-ms-transition: 0.2s linear;
	-o-transition: 0.2s linear;
	transition: 0.2s linear;
	cursor: pointer;
}

#closeIni,
.close
{
	border-radius: 3px;
	cursor: pointer;
	display: block;
	left: 14.5em;
	margin: 1em auto;
	padding: 5px;
	position: relative;
	top:-20px;

	-webkit-transition: 0.2s linear;
	-moz-transition: 0.2s linear;
	-ms-transition: 0.2s linear;
	-o-transition: 0.2s linear;
	transition: 0.2s linear;
	width: 15px;
}






/*ESTILOS DEL FORMULARIO DE EMPRESA*/

#formRegistro, #formInicioSesion{
	position: relative;
	margin: 2em;
}

#formRegistro input, #formInicioSesion input{
	border: 1px solid #AEADB3;
	border-radius: 3px;
	left: 25px;
	padding: 5px;
}

#formRegistro label, #formInicioSesion label{
	width: 30%;
	margin-top: 1px;
	display: inline-block;
	float: left;
	padding: 3px;
}

#formRegistro ul, #formInicioSesion ul{
	list-style-type: none;
	list-style-position: outside;
	margin: 0px;
	padding: 0px;
}

#formRegistro li, #formInicioSesion li{
	position: relative;
	width: 100%;
}

#formRegistro label, #formRegistro li, #formRegistro input
#formInicioSesion label, #formInicioSesion li, #formInicioSesion input
{
	margin: 3px;
}

#formRegistro label, #formRegistro input{
	position: relative;
	width: 33%;
}

#formRegistro:last-child input{
	right: -15%;
}













.mostrar {
	background: #F2F2F2;
	border: 1px solid #999;
	border-radius: 3px;
	box-shadow: 0px 0px 30px rgba(0,0,0,0.2);
	color: #1F262B;
	display: block;
	margin: 8em auto;
	position: relative;
	padding: 2em;
	width: 30em;

	-webkit-transition: 0.4s ease-out;
	-moz-transition: 0.4s ease-out;
	-ms-transition: 0.4s ease-out;
	-o-transition: 0.4s ease-out;
	transition: 0.4s ease-out;
	/*opacity: 0;*/
}

.mostrar h2{
	font-weight: bold;
	text-align: center;
	padding: 0 10px 15px 10px;
	margin-top: -30px;
}

.mostrar form p{
	padding: 10px;
}

.mostrar form input{
	border: 1px solid #1F262B;
	border-radius: 5px;
	padding-left: 5px;
}

.Reg{
	background-color: #4A6FA5;
	color: #C0D6DF;
	padding: 10px;
	position: relative;
	margin-top: 15px;
	left: 23em;
	padding: 5px;
}


.Reg:hover{
	background-color: #4F6D7A;
	border: none;
	color: #C0D6DF;
	margin-bottom: 2px;
}



/*********************
	SECTION - BODY
**********************/

#slogan{
	left: 4em;
	position: relative;
	margin-left: 20%;
	z-index: -1;
	width: 50%;
}



.Boton{
	left: 60em;
	margin-right: 300px;
	position: relative;
	top: -5em;
}
