/***
*	CSS de la página principal de Usuario o
*	cliente final.
*
*	Se dividirá en las siguientes partes:
*		-NAV
*		-BARRA DE PUBLICIDAD
*		-BUSCADOR
*		-CUERPO
*			+MENÚ
*				*PERFIL: EDITAR PERFIL;
*				*CARRITO: ITEMS QUE DESEA COMPRAR;
*				*PEDIDOS: AGENDAR SERVICIOS;
*				*HISTORIAL: PROD/SER VISITADOS CON ANTERIORIDAD;
*				*FAVORITOS: PRD/SER MÁS USADOS;
*				*SALIR: SALIR DEL SISTEMA;
*			+CAJA VISUALIZADORA
*		-FOOTER
*			+LOGO SOFTCRAFT
*			+INFORMACIÓN SOFTCRAFT
*			+LOGO ITCG
*
*
***/
/*____________   NAV   ____________*/
#sesion span{
	color:  #f8f8f8;
}

#sesion li img{
	background: #f8f8f8;
}


/*____________   PANEL IZQUIERDO   ____________*/
#BLeft{
	position: relative;
	display: inline-block;
}

.pIzquierda{
	background-color: #5D5E60;
	border: 2px solid #5D5E60;
	border-radius: 4px;
	padding: 5px;
	margin: 0 0 5px -6px;
	text-align: center;
	width: 75px;
}

.pIzquierda img{
	width: 48px;
}

.pIzquierda a{
	color: #000;
	text-decoration: none;
}




/*____________   PANEL CENTRAL   ____________*/
#BCenter{
	display: inline-block;
	left: 8px;
	margin: 0 auto;
	position: relative;
	top: 10px;
	vertical-align: top;
	width: 70%;

}

#detallesServBusqueda,
#detallesEmprBusqueda,
#emergenteCompraOK{
	content: " ";
	display: block;
	height: 100%;
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	position: fixed;
	z-index: 99;

	background: -moz-radial-gradient(center, ellipse cover, rgba(127,127,127,0) 0%, rgba(127,127,127,0.9) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(127,127,127,0)), color-stop(100%,rgba(127,127,127,0.9)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(127,127,127,0) 0%,rgba(127,127,127,0.9) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(127,127,127,0) 0%,rgba(127,127,127,0.9) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(127,127,127,0) 0%,rgba(127,127,127,0.9) 100%);
	background: radial-gradient(center, ellipse cover, rgba(127,127,127,0) 0%,rgba(127,127,127,0.9) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007f7f7f', endColorstr='#e67f7f7f',GradientType=1 );

}






/*Estilo general de recuadros del centro*/
.more{
	border: 1px solid #CCC;
	border-radius: 5px;
	box-shadow: 1px 1px 1px #CCC;
	display: none;
	margin-bottom: 15px;
	padding: 15px;
}




/*Estilos de Perfil*/


#more-profile{
	position: relative;
}

#edImgUsuario{
	display: flex;
}


#edImgUsuario img{

	height: 13em;
}



#profile-favs, #profile-sched{
	background-color: #4F6D7A;
	border-radius: 10px;
	display: inline-block;
	padding: 20px;
	position: relative;
	margin: 2em;
	width: 20em;
}

#profile-favs h3, #profile-sched h3{
	color: #F2F2F2;
	padding-bottom: 5px;
}

#profile-favs a, #profile-sched a{
	color: #C2C0BD;
	text-decoration: none;
}





/*Estilos de Editar Perfil*/
#more-edituser{
	position: relative;
}

#img-box{
	border: 1px solid #CCC;
	border-radius: 5px;

	padding: 1em;
	margin: 1em;
}

#img-box img{
	border-radius: 5px;
	width: 8em;
}

#barra-selectora{
	display: inline-block;
	position: relative;
	margin: 15px;
}

#formEdDatosPers{
	position: relative;
	margin: 2em;
}

#formEdDatosPers input{
	border: 1px solid #AEADB3;
	border-radius: 3px;
	left: 25px;
	padding: 5px;
}

#formEdDatosPers label{
	width: 150px;
	margin-top: 1px;
	display: inline-block;
	float: left;
	padding: 3px;
}

#formEdDatosPers ul{
	list-style-type: none;
	list-style-position: outside;
	margin: 0px;
	padding: 0px;
}

#formEdDatosPers li{
	position: relative;
}

#formEdDatosPers label, #formEdDatosPers li, #formEdDatosPers input{
	margin: 3px;
}

#formEdDatosPers label, #form input{
	position: relative;
	width: 49%;
}

#formEdDatosPers:last-child input{
	right: -15%;
}






/*Estilos de Carrito*/

.carritoPorEmp{

}

.EmpresaPSBus{
	padding: 2em 0;
}

#descArticulo{
	display: flex;
	justify-content: space-between;
	padding: 2em 0;
}

#cajaDeArticulos{
	display: flex;
	flex-flow: column;
	justify-content: space-between;
	padding: 2em 0 0 0;
}

.articuloCaja{
	display: flex;
	justify-content: space-between;
}













/*_________________________________Estilos de Búsqueda*/
.ser-package, .ser-package-history, .ser-package-favs{
	margin: 15px 0 0 25px;
}

.descrip-serv, .descrip-serv-history, .descrip-serv-favs{
	color: #333;
}




/*VEntanas emergentes de busqueda*/
.close{
	margin: 1em auto;
	display: flex;
	position: relative;
	left: 14.5em;
	top:-20px;
	padding: 5px;
	border-radius: 3px;
	-webkit-transition: 0.2s linear;
	-moz-transition: 0.2s linear;
	-ms-transition: 0.2s linear;
	-o-transition: 0.2s linear;
	transition: 0.2s linear;
	cursor: pointer;
	width: 1.5em;
}

.mostrar {
	background: #F2F2F2;
	border: 1px solid #999;
	border-radius: 3px;
	box-shadow: 0px 0px 30px rgba(0,0,0,0.2);
	color: #1F262B;
	display: block;

	margin: 8em auto;
	position: relative;
	padding: 2em;
	width: 30em;

	-webkit-transition: 0.4s ease-out;
	-moz-transition: 0.4s ease-out;
	-ms-transition: 0.4s ease-out;
	-o-transition: 0.4s ease-out;
	transition: 0.4s ease-out;
}

.mostrar h2{
	font-weight: bold;
	text-align: center;
	padding: 0 10px 15px 10px;
	margin-top: -30px;
}


.mostrar div{
	display: flex;
	flex-flow: column;
	justify-content: space-between;
}

#generalesInfo{
	display: flex;
	flex-flow: column;
	justify-content: space-between;
	padding: 0.2em 0;
	text-align: left;
}

#nomPS,
#EmpresaPSBus,
#descPSBus{
	padding: 0.5em 0;
}

#dispPSBus{
	font-weight: bold;
	margin-bottom: 1em;
}



#rdspd{
	align-items: center;
	display: flex;
	justify-content: space-around;

}

#imagenProd{
	flex-grow: 1;
}

#imagenProd img{

}

#opcionesProd{
	flex-grow: 1;
}

















/*Estilos de Pedidos*/
#more-pedidos{
	position: relative;
}

#more-pedidos h2{
	margin-bottom: 1em;
}

.info-display{
	border: 1px solid #CCC;
	border-radius: 5px;
	box-shadow: 1px 1px 1px #CCC;
	display: flex;
	padding: 1em;
	margin: 1em;
	/*position: relative;*/
}

.detallesProd{
	/*display: flex;
	align-items: center;*/
}

.detallesProd h4{
	text-align: left;
}

.detallesProd h4, .detallesProd p{
	padding: 0.2em 0;
	text-align: left;
}


.suatmm{
	align-items: center;
	display: flex;
	justify-content: space-around;
}

.suatmm p{
	padding: 0 1em;
}








/*____________   PANEL DERECHO   ____________*/
#BRight{
	background-color: #92374D;
	border-radius: 5px;
	height: 15em;
	margin: 10px 10px 10px 10px;
	position: relative;
	display: inline-block;
}




/***************
	BUSQUEDA
***************/

#Buscador{
	align-items: flex-end;
	display: flex;
	justify-content: space-around;
	width: 65%;
}

#Buscador input{
	border: 1px solid #AEADB3;
	border-radius: 5px;
	flex-grow: 3;
	height: 2em;
}

#btoBuscarf{
	flex-grow: 1;
}

#btoBuscar img{
	height: 1em;
}


/***************************
	PUBLICIDAD - LATERAL
***************************/

.Deslizar{
	display: none;
}





/*********************************
			QUERIES
*********************************/

/* Large desktop */
@media (min-width: 1200px) {

}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {


/* Landscape phone to portrait tablet */
@media (max-width: 767px) {

}

/* Landscape phones and down */
@media (max-width: 480px) {


}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {



}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {


}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) { }

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) { }

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) { }

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) { }

/* Large screens ----------- */
@media only screen and (min-width : 1824px) { }

/* iPhone 4 and high pixel ratio devices ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) { }
